In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
#import tick customization tools
import matplotlib.ticker as mticks
import matplotlib.dates as mdates
## Setting figures to timeseries-friendly
plt.rcParams['figure.figsize'] = (12,4)
plt.rcParams['figure.facecolor'] = 'white'
sns.set_context("talk", font_scale=0.9)
# set random seed
SEED = 321
np.random.seed(SEED)
#display more columns
pd.set_option('display.max_columns',50)

In [2]:
df = pd.read_csv('Data/Crimes_-_2001_to_Present.csv',low_memory=False)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7992097 entries, 0 to 7992096
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,08/25/2007 09:22:18 AM,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,2422,24.0,49.0,1.0,08A,NaN,NaN,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,25953,JE240540,05/24/2021 03:06:00 PM,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,2515,25.0,36.0,19.0,01A,1141387.0,1913179.0,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,06/26/2021 09:24:00 AM,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,1711,17.0,50.0,13.0,01A,1152781.0,1941458.0,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,11/09/2023 07:30:00 AM,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,1922,19.0,47.0,5.0,05,1162518.0,1925906.0,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,11/12/2023 07:59:00 AM,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,632,6.0,6.0,44.0,08B,1183071.0,1847869.0,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)"

In [3]:
## SET THE FOLDER FOR FINAL FILES
OUTPUT_FOLDER = 'Data/Chicago/'
os.makedirs(OUTPUT_FOLDER, exist_ok=True)

## Full Workflow

In [4]:
df = df#pd.read_csv(RAW_FILE)
df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,08/25/2007 09:22:18 AM,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,2422,24.0,49.0,1.0,08A,NaN,NaN,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,25953,JE240540,05/24/2021 03:06:00 PM,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,2515,25.0,36.0,19.0,01A,1141387.0,1913179.0,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,06/26/2021 09:24:00 AM,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,1711,17.0,50.0,13.0,01A,1152781.0,1941458.0,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,11/09/2023 07:30:00 AM,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,1922,19.0,47.0,5.0,05,1162518.0,1925906.0,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,11/12/2023 07:59:00 AM,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,632,6.0,6.0,44.0,08B,1183071.0,1847869.0,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7992092,13047495,JG229914,04/18/2023 08:00:00 AM,003XX N JEFFERSON ST,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,1214,12.0,42.0,28.0,11,1172269.0,1902384.0,2023,08/19/2023 03:40:26 PM,41.887589,-87.642827,"(41.887589411, -87.642826595)"
7992093,13168300,JG373901,08/07/2023 06:00:00 PM,0000X W 95TH ST,031A,ROBBERY,ARMED - HANDGUN,SIDEWALK,False,False,634,6.0,9.0,49.0,03,1177527.0,1841973.0,2023,08/19/2023 03:40:26 PM,41.721698,-87.625345,"(41.72169837, -87.625345212)"
7992094,13114024,JG309527,06/20/2023 07:00:00 PM,031XX S AVERS AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,1031,10.0,22.0,30.0,07,1151205.0,1883542.0,2023,08/19/2023 03:40:26 PM,41.836324,-87.720674,"(41.836323827, -87.720674149)"
7992095,13188860,JG398340,08/26/2023 12:00:00 AM,078XX S SOUTH SHORE DR,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,421,4.0,7.0,46.0,14,1198338.0,1853426.0,2023,09/02/2023 03:41:45 PM,41.752631,-87.548737,"(41.752631346, -87.548737069)"
7992096,13126372,JG324067,07/01/2023 07:29:00 PM,005XX S WELLS ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,True,123,1.0,34.0,32.0,14,1174805.0,1897873.0,2023,08/19/2023 03:40:26 PM,41.875155,-87.633649,"(41.87515458, -87.633648765)"

In [5]:
# df['Date'] = pd.to_datetime(['Date'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')

In [6]:
# this cell can take up to 1 min to run
date_format = "%m/%d/%Y %H:%M:%S %p"

df['Datetime'] = pd.to_datetime(df['Date'], format=date_format)
df = df.sort_values('Datetime')
df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Datetime
1572339,3212105,HK228274,01/01/2001 01:00:00 AM,029XX W 38TH PL,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,913,9.0,14.0,58.0,02,1157298.0,1878997.0,2001,03/31/2006 10:03:38 PM,41.823730,-87.698440,"(41.823730366, -87.69843979)",2001-01-01 01:00:00
130366,1309918,G000412,01/01/2001 01:00:00 AM,032XX N SHEFFIELD AV,0820,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.0,NaN,NaN,06,1169005.0,1921458.0,2001,08/17/2015 03:03:40 PM,41.940001,-87.654258,"(41.940000996, -87.654258339)",2001-01-01 01:00:00
225536,1310873,G001502,01/01/2001 01:00:00 PM,052XX W LEXINGTON ST,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,1522,15.0,NaN,NaN,26,1141454.0,1896084.0,2001,08/17/2015 03:03:40 PM,41.870926,-87.756145,"(41.870926097, -87.756145329)",2001-01-01 01:00:00
217621,1310393,G000713,01/01/2001 01:00:00 AM,052XX N EAST RIVER RD,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1614,16.0,NaN,NaN,14,1116671.0,1933824.0,2001,08/17/2015 03:03:40 PM,41.974911,-87.846348,"(41.974911416, -87.846347904)",2001-01-01 01:00:00
194818,1427622,G150373,01/01/2001 01:00:00 PM,045XX W SCHUBERT AV,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,2521,25.0,NaN,NaN,26,1145750.0,1917534.0,2001,08/17/2015 03:03:40 PM,41.929707,-87.739828,"(41.929706879, -87.73982819)",2001-01-01 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108215,13358963,JH140480,01/30/2024 12:00:00 AM,096XX S HALSTED ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,ALLEY,False,False,2223,22.0,21.0,73.0,07,NaN,NaN,2024,02/06/2024 03:41:47 PM,NaN,NaN,NaN,2024-01-30 12:00:00
108688,13352660,JH133235,01/30/2024 12:00:00 AM,063XX S DR MARTIN LUTHER KING JR DR,0430,BATTERY,AGGRAVATED - OTHER DANGEROUS WEAPON,RESIDENCE - YARD (FRONT / BACK),False,False,312,3.0,20.0,69.0,04B,1180014.0,1862874.0,2024,02/06/2024 03:41:47 PM,41.778997,-87.615597,"(41.778996578, -87.615597205)",2024-01-30 12:00:00
101448,13352985,JH133648,01/30/2024 12:00:00 AM,070XX S DORCHESTER AVE,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,321,3.0,5.0,43.0,05,1186751.0,1858714.0,2024,02/06/2024 03:41:47 PM,41.767424,-87.591031,"(41.767424222, -87.591030715)",2024-01-30 12:00:00
108484,13352550,JH133212,01/30/2024 12:00:00 AM,028XX W 19TH ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,OTHER (SPECIFY),False,False,1022,10.0,25.0,30.0,02,1157372.0,1890584.0,2024,02/06/2024 03:41:47 PM,41.855525,-87.697854,"(41.855524939, -87.6978538)",2024-01-30 12:00:00
102646,13354814,JH135882,01/30/2024 12:00:00 AM,004XX E 87TH ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,632,6.0,8.0,44.0,14,1180732.0,1847400.0,2024,02/06/2024 03:41:47 PM,41.736518,-87.613440,"(41.736517787, -87.613439693)",2024-01-30 12:00:00

## Separate the Full Dataset by Years

In [7]:
#df'Datetime'].dt.year

In [8]:
# Removing 2023
#filter_pre_2023 =  df['Datetime'].dt.year<2023
#chicago_2023 = df[~filter_pre_2023]
#chicago_full = chicago_full[filter_pre_2023]
#chicago_full

In [9]:
# save the years for every crime
#df["Year"] = df['Datetime'].dt.year.astype(str)
#df["Year"].value_counts()

In [10]:
## Dropping unneeded columns to reduce file size
drop_cols = ["X Coordinate","Y Coordinate", "Community Area","FBI Code",
             "Case Number","Updated On",'Block','Location','IUCR', 'Latitude', 'Longitude']

In [11]:
# save final df
df = df.drop(columns=drop_cols)
df = df.set_index('Datetime')
df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Year
Datetime,,,,,,,,,,,
2001-01-01 01:00:00,3212105,01/01/2001 01:00:00 AM,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,913,9.0,14.0,2001
2001-01-01 01:00:00,1309918,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.0,NaN,2001
2001-01-01 01:00:00,1310873,01/01/2001 01:00:00 PM,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,1522,15.0,NaN,2001
2001-01-01 01:00:00,1310393,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1614,16.0,NaN,2001
2001-01-01 01:00:00,1427622,01/01/2001 01:00:00 PM,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,2521,25.0,NaN,2001
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-30 12:00:00,13358963,01/30/2024 12:00:00 AM,MOTOR VEHICLE THEFT,AUTOMOBILE,ALLEY,False,False,2223,22.0,21.0,2024
2024-01-30 12:00:00,13352660,01/30/2024 12:00:00 AM,BATTERY,AGGRAVATED - OTHER DANGEROUS WEAPON,RESIDENCE - YARD (FRONT / BACK),False,False,312,3.0,20.0,2024
2024-01-30 12:00:00,13352985,01/30/2024 12:00:00 AM,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,321,3.0,5.0,2024
2024-01-30 12:00:00,13352550,01/30/2024 12:00:00 AM,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,OTHER (SPECIFY),False,False,1022,10.0,25.0,2024
2024-01-30 12:00:00,13354814,01/30/2024 12:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,632,6.0,8.0,2024

In [12]:
# unique # of year bins
year_bins = df['Year'].astype(str).unique()
year_bins

array(['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype=object)

In [13]:
FINAL_DROP = ['Year']

In [14]:
## set save location 

# os.makedirs(OUTPUT_FOLDER, exist_ok=True)
# print(f"[i] Saving .csv's to {OUTPUT_FOLDER}")
# ## loop through years
# for year in year_bins:
    
#     ## save temp slices of dfs to save.
#     temp_df = df.loc[year]
#     temp_df = temp_df.sort_index()
#     temp_df = temp_df.reset_index(drop=True)
#     temp_df = temp_df.drop(columns=FINAL_DROP)

#     # save as csv to output folder
#     fname_temp = f"{OUTPUT_FOLDER}Chicago-Crime_{year}.csv"#.gz
#     temp_df.to_csv(fname_temp,index=False)

#     print(f"- Succesfully saved {fname_temp}")

In [15]:
import glob
saved_files = sorted(glob.glob(OUTPUT_FOLDER+'*.*csv'))
saved_files

['Data/Chicago/Chicago-Crime_2001.csv',
 'Data/Chicago/Chicago-Crime_2002.csv',
 'Data/Chicago/Chicago-Crime_2003.csv',
 'Data/Chicago/Chicago-Crime_2004.csv',
 'Data/Chicago/Chicago-Crime_2005.csv',
 'Data/Chicago/Chicago-Crime_2006.csv',
 'Data/Chicago/Chicago-Crime_2007.csv',
 'Data/Chicago/Chicago-Crime_2008.csv',
 'Data/Chicago/Chicago-Crime_2009.csv',
 'Data/Chicago/Chicago-Crime_2010.csv',
 'Data/Chicago/Chicago-Crime_2011.csv',
 'Data/Chicago/Chicago-Crime_2012.csv',
 'Data/Chicago/Chicago-Crime_2013.csv',
 'Data/Chicago/Chicago-Crime_2014.csv',
 'Data/Chicago/Chicago-Crime_2015.csv',
 'Data/Chicago/Chicago-Crime_2016.csv',
 'Data/Chicago/Chicago-Crime_2017.csv',
 'Data/Chicago/Chicago-Crime_2018.csv',
 'Data/Chicago/Chicago-Crime_2019.csv',
 'Data/Chicago/Chicago-Crime_2020.csv',
 'Data/Chicago/Chicago-Crime_2021.csv',
 'Data/Chicago/Chicago-Crime_2022.csv',
 'Data/Chicago/Chicago-Crime_2023.csv',
 'Data/Chicago/Chicago-Crime_2024.csv']

In [16]:
folder = "Data/Chicago/"
crime_files = sorted(glob.glob(folder+"*.csv"))
df = pd.concat([pd.read_csv(f) for f in crime_files])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7992097 entries, 0 to 17234
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
dtypes: bool(2), float64(2), int64(2), object(4)
memory usage: 564.0+ MB

In [18]:
df.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward
0,3212105,01/01/2001 01:00:00 AM,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,913,9.0,14.0
1,1309918,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.0,NaN
2,1310873,01/01/2001 01:00:00 PM,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,1522,15.0,NaN
3,1310393,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1614,16.0,NaN
4,1427622,01/01/2001 01:00:00 PM,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,2521,25.0,NaN

## Holiday Data

In [19]:
import holidays
import datetime as dt
from holidays import country_holidays

In [20]:
## making a date range that covers full dataset
all_days = pd.date_range(df["Date"].min(), df["Date"].max())
all_days

DatetimeIndex(['2001-01-01 01:00:00', '2001-01-02 01:00:00',
               '2001-01-03 01:00:00', '2001-01-04 01:00:00',
               '2001-01-05 01:00:00', '2001-01-06 01:00:00',
               '2001-01-07 01:00:00', '2001-01-08 01:00:00',
               '2001-01-09 01:00:00', '2001-01-10 01:00:00',
               ...
               '2023-12-21 01:00:00', '2023-12-22 01:00:00',
               '2023-12-23 01:00:00', '2023-12-24 01:00:00',
               '2023-12-25 01:00:00', '2023-12-26 01:00:00',
               '2023-12-27 01:00:00', '2023-12-28 01:00:00',
               '2023-12-29 01:00:00', '2023-12-30 01:00:00'],
              dtype='datetime64[ns]', length=8399, freq='D')

In [21]:
## Create an instance of the US country holidays.
us_holidays = country_holidays('US')
us_holidays

holidays.country_holidays('US')

In [22]:
## Testing first date
print(all_days[0])
us_holidays.get(all_days[0])

2001-01-01 01:00:00

"New Year's Day"

In [23]:
## Getting us holidays for all dates
holiday_list = [us_holidays.get(day) for day in all_days]
holiday_list[:5]

["New Year's Day", None, None, None, None]

In [24]:
# For a specific subdivisions (e.g. state or province):
il_holidays = country_holidays('US', subdiv='IL')
il_holidays

holidays.country_holidays('US', subdiv='IL')

In [25]:
## Saving both holiday types as columns
df["US Holiday"] = [us_holidays.get(day) for day in df['Date']]
df['IL Holiday'] = [il_holidays.get(day) for day in df['Date']]
df.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,US Holiday,IL Holiday
0,3212105,01/01/2001 01:00:00 AM,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,913,9.0,14.0,New Year's Day,New Year's Day
1,1309918,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.0,NaN,New Year's Day,New Year's Day
2,1310873,01/01/2001 01:00:00 PM,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,1522,15.0,NaN,New Year's Day,New Year's Day
3,1310393,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1614,16.0,NaN,New Year's Day,New Year's Day
4,1427622,01/01/2001 01:00:00 PM,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,2521,25.0,NaN,New Year's Day,New Year's Day

In [26]:
## US Holidays
df['US Holiday'].value_counts()

New Year's Day                                     34669
Independence Day                                   23501
Labor Day                                          22918
Memorial Day                                       21870
Columbus Day                                       21674
Veterans Day                                       21125
Martin Luther King Jr. Day                         19056
Washington's Birthday                              18235
Thanksgiving                                       15352
Christmas Day                                      12939
Veterans Day (Observed)                             6558
Independence Day (Observed)                         5884
New Year's Day (Observed)                           5533
Christmas Day (Observed)                            4931
Juneteenth National Independence Day                2180
Juneteenth National Independence Day (Observed)     1403
Name: US Holiday, dtype: int64

In [27]:
## MD Holidays
df['IL Holiday'].value_counts()

New Year's Day                                     34669
Independence Day                                   23501
Labor Day                                          22918
Memorial Day                                       21870
Columbus Day                                       21674
Veterans Day                                       21125
Casimir Pulaski Day                                19789
Martin Luther King Jr. Day                         19056
Lincoln's Birthday                                 18839
Washington's Birthday                              18235
Thanksgiving                                       15352
Christmas Day                                      12939
Veterans Day (Observed)                             6558
Election Day                                        6342
Independence Day (Observed)                         5884
Lincoln's Birthday (Observed)                       5815
New Year's Day (Observed)                           5533
Christmas Day (Observed)                            4931
Juneteenth National Independence Day                2180
Juneteenth National Independence Day (Observed)     1403
Name: IL Holiday, dtype: int64

In [28]:
# ax = sns.barplot(data=df, x='US Holiday',y= 'THEFT' ,estimator=np.sum)
# ax.set_xticklabels(ax.get_xticklabels(),rotation=45, ha='right');

In [29]:
## Saving a binary is holiday feature
df['Is_Holiday'] = df['US Holiday'].notna()
df['Is_Holiday'].value_counts()

False    7754269
True      237828
Name: Is_Holiday, dtype: int64

In [30]:
df = df.set_index('Date')
df.head()

,ID,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,US Holiday,IL Holiday,Is_Holiday
Date,,,,,,,,,,,,
01/01/2001 01:00:00 AM,3212105,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,True,False,913,9.0,14.0,New Year's Day,New Year's Day,True
01/01/2001 01:00:00 AM,1309918,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.0,NaN,New Year's Day,New Year's Day,True
01/01/2001 01:00:00 PM,1310873,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,1522,15.0,NaN,New Year's Day,New Year's Day,True
01/01/2001 01:00:00 AM,1310393,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1614,16.0,NaN,New Year's Day,New Year's Day,True
01/01/2001 01:00:00 PM,1427622,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,2521,25.0,NaN,New Year's Day,New Year's Day,True

In [31]:
df['Date Only'] = df.index.date
df["Date Only"] = df["Date Only"].astype(str)


df['HourOfDay'] = df.index.hour
df['Year']  = df.index.year
df['Month']  = df.index.month
df['DayOfWeek'] = df.index.day_name()
df

AttributeError: 'Index' object has no attribute 'date'

In [ ]:
crime_counts = df.groupby('Primary Type').resample('D').size()
crime_counts

In [ ]:
counts_ts = crime_counts.unstack(level=0)
counts_ts = counts_ts.fillna(0)
counts_ts

## Stakeholders Questions

### Topic 1) Comparing Police Districts
### Which district had the most crimes in 2022?

In [ ]:
## Get # of crimes by Hour
crimes_by_district = df["District"].value_counts(normalize=False)
crimes_by_district

### Which had the least?

In [ ]:
df.index